<h1>My Account</h1>

<% if flash[:info] %>
  <p style="color: green">
    <%=h flash[:info] %>
  </p>
<% end %>

<p>
  <%= link_to "Logout", logout_path %>
</p>

<p>
  <%= link_to "Take Me to The Groupsite", groupsite_url %>
</p>

<% form_for(@user) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
 